/* start variables */
:root {
    --text-color: #834496;
    --main-color: #55f9fc;
}

/* end variables */

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start phone responsive solution  about the right space problem */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    /* end phone responsive solution  about the right space problem */

}

/* start header  */
header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    width: 60px;
}

header .container nav {
    flex: 1;
}

header .container nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

header .container nav ul li {
    padding: 30px 15px;
}

header .container nav ul a {
    text-decoration: none;
    display: block;
    color: #000;
    font-weight: 300;
    padding: 5px;
    letter-spacing: 1px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

header .container nav ul li a:hover {
    color: var(--main-color);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

@media (max-width:767px) {
    header .container {
        padding-top: 30px;
        flex-direction: column;
    }

    header .container .logo {
        padding-bottom: 20px;
    }

    header .container ul {
        flex-direction: column;
    }

}

/* end header  */









/* start landing  */
.landing {
    max-width: 100%;
    min-height: calc(100vh - 87px);
    background: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/ef047784bc6a5cf2b81a76a6/robotgradientintro2.jpg");
    background-size: cover;
    position: relative;
    background-position-x: 65%;

}

.landing .container {
    position: relative;
    color: #fff;
}

.landing .container .ball {
    position: absolute;
    top: 20px;
    width: 20%;
    opacity: .9;
}


.landing .container .text {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-80%, -80%);
    -webkit-transform: translate(-80%, -80%);
    -moz-transform: translate(-80%, -80%);
    -ms-transform: translate(-80%, -80%);
    -o-transform: translate(-80%, -80%);
}

.landing .container .text h1 {
    margin: 0;
    font-size: 5rem;
}

.landing .container .text p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5em;
}

@media (max-width:767px) {
    .landing .container .ball {
        display: none;
    }

    .landing .container .text h1 {
        font-size: 40px;
    }

    .landing .container .text p {
        font-size: 18px;
    }

    .landing .container .text {
        margin-left: 25px;
    }
}

/* end landing  */

/* start human robotics section1 */
.hum-section {
    position: relative;
    padding-bottom: 60px;
}

.hum-section .container .text {
    padding: 30px;
    margin-left: 20px;
}

.hum-section .container .text h5 {
    font-size: 20px;
}

.hum-section .container .text h3 {
    position: relative;
    width: fit-content;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--text-color);
}

.hum-section .container .text h3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: var(--main-color);
    bottom: 5px;
    z-index: -1;
}

.hum-section .container .text p {
    width: 50%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
}

.hum-section .container .text a {
    width: fit-content;
    display: block;
    margin-top: 20px;
    padding: 12px 35px;
    border: 2px solid var(--main-color);
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.hum-section .container .text a:hover {
    background-color: var(--main-color);

}

.hum-section .container .image img:first-of-type {
    height: 500px;
    position: absolute;
    right: 0;
    top: -12vh;
}



.hum-section .container .image img:last-of-type {
    position: absolute;
    height: 370px;
    position: absolute;
    border-radius: 50%;
    left: 45%;
    transform: translate(20px, -156px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(20px, -156px);
    -moz-transform: translate(20px, -156px);
    -ms-transform: translate(20px, -156px);
    -o-transform: translate(20px, -156px);
}

@media (max-width:767px) {
    .hum-section .container .image img:first-of-type {
        height: 450px;
        position: absolute;
        right: 0;
        top: -12vh;
    }

    .hum-section .container .text {
        padding-top: 390px;
    }

    .hum-section .container .text p {
        width: 100%;
    }

    .hum-section .container .text a {
        margin-bottom: 100px;
    }

    .hum-section .container .image img:last-of-type {
        height: 270px;
        transform: translate(-20px, -100px);
        -webkit-transform: translate(-20px, -100px);
        -moz-transform: translate(-20px, -100px);
        -ms-transform: translate(-20px, -100px);
        -o-transform: translate(-20px, -100px);
    }

}

@media (max-width:450px) {
    .hum-section .container .text h3 {
        font-size: 28px;
    }

    .hum-section .container .text h5, .hum-section .container .text p {
        font-size: 18px;
    }

    .hum-section .container .image img:first-of-type {
        height: 400px;
    }

    .hum-section .container .image img:last-of-type {
        height: 230px;
        transform: translate(-100px, -90px);
        -webkit-transform: translate(-100px, -90px);
        -moz-transform: translate(-100px, -90px);
        -ms-transform: translate(-100px, -90px);
        -o-transform: translate(-100px, -90px);
    }
}

/* end human robotics section1 */
/* start human robotics section2 */

.hum-section2 {
    width: 100%;
    min-height: 90vh;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/386402209ab35bf6ac892d8d/bggradient.jpg);
    background-size: cover;
}

.hum-section2 .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}


.hum-section2 .container .images {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
    position: relative;
    justify-content: space-between;
}

.hum-section2 .container .images .img {
    min-width: calc(calc(100% - 60px)/4);
    background-color: rgb(107, 15, 15);
    height: 20vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hum-section2 .container .images .img1 {
    background-image: url(../images/section2-1.jpeg);
    background-size: cover;
    background-position-x: 50%;
    height: 50%;
    position: relative;
    top: 20px;
    align-self: center;
    z-index: 1;
}

.hum-section2 .container .images .img2 {
    background-image: url(../images/section2-2.jpeg);
    background-size: cover;
    background-position-x: 50%;
    height: 80%;
    align-self: center;
}

.hum-section2 .container .images .img3 {
    background-image: url(../images/section2-3.jpeg);
    background-size: cover;
    background-position-x: 50%;
    align-self: center;
    height: 30vh;
}

.hum-section2 .container .images .img4 {
    background-image: url(../images/section2-4.jpeg);
    background-size: cover;
    background-position-x: 50%;
    height: 60%;
    position: relative;
    bottom: 30px;
    align-self: center;
}

.hum-section2 .container p {
    width: 45%;
    position: absolute;
    right: 25px;
    color: #fff;
    bottom: 65px;
    line-height: 1.8rem;
    font-size: 19px;
    font-weight: 300;
}

.hum-section2 .bubble {
    width: 425px;
    position: absolute;
    top: -75px;
    left: -12%;
}

.hum-section2 .ball {
    width: 50px;
    position: absolute;
    top: 38px;
    right: 0%;
}

/* start media section2 */
@media (max-width:991px) {
    .hum-section2 .bubble {
        left: -16%;
        width: 47%;
    }
}

@media (max-width:997px) {
    .hum-section2 .container p {
        margin-top: 50px;
        bottom: 10%;
        left: 10%;
        font-size: 19px;
        width: 80%;
    }

    .hum-section2 .container .images .img1 {
        height: 24%;
    }

    .hum-section2 .container .images .img2 {
        height: 40%;
    }

    .hum-section2 .container .images .img3 {
        height: 30vh;
    }

    .hum-section2 .container .images .img4 {

        height: 30%;

    }


}



@media (max-width:676px) {



    .hum-section2 .container p {
        bottom: 1%;
    }

    .hum-section2 .container .images {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 30px;
    }

    .hum-section2 .container .images .img {
        width: 250px;
        margin-bottom: 40px;
        height: 380px;
    }

    .hum-section2 .container .images .img1 {
        margin-top: 50px;
        height: 300px;
    }

    .hum-section2 .container .images .img3 {
        height: 300px;
    }

    .hum-section2 .container .images .img4 {
        margin-bottom: 100px;
    }

    .hum-section2 .bubble {
        width: 32%;
        top: -35px;
        left: 0;
    }
}

@media (max-width:450px) {
    .hum-section2 .bubble {
        width: 30%;
        top: 50px;
        left: -6px;
    }
}

/* end media section2 */

/* end human robotics section2 */