/* start variables */
:root {
    --head-color: #834496;
    --main-color: #55f9fc;
}

/* end variables */

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
}

ul {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start phone responsive solution  about the right space problem */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    /* end phone responsive solution  about the right space problem */
}

/* end global rules */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start header  */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media (min-width: 767px) {
    header {
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 200;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 1px 20px 0px var(--main-color);
    }

    #menu {
        display: none;
    }
}

#menu {
    color: var(--head-color);
    margin-bottom: 20px;
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    width: 60px;
}

header .container nav {
    flex: 1;
}

header .container nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

header .container nav ul li {
    padding: 30px 15px;
}

header .container nav ul a {
    text-decoration: none;
    display: block;
    color: #000;
    font-weight: 300;
    padding: 5px;
    letter-spacing: 1px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .container nav ul li a:hover {
    color: var(--main-color);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

@media (max-width: 767px) {
    header .container {
        padding-top: 30px;
        flex-direction: column;
    }

    header .container .logo {
        padding-bottom: 20px;
    }

    header .container ul {
        flex-direction: column;
    }
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* end header  */

/* start landing  */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
.landing {
    max-width: 100%;
    min-height: calc(100vh - 87px);
    background: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/ef047784bc6a5cf2b81a76a6/robotgradientintro2.jpg");
    background-size: cover;
    position: relative;
    background-position-x: 65%;
    padding-top: 10vh;
}

.landing .container {
    position: relative;
    color: #fff;
}

.landing .container .ball {
    position: absolute;
    top: 20px;
    width: 20%;
    opacity: 0.9;
}

.landing .container .text {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-80%, -80%);
    -webkit-transform: translate(-80%, -80%);
    -moz-transform: translate(-80%, -80%);
    -ms-transform: translate(-80%, -80%);
    -o-transform: translate(-80%, -80%);
}

.landing .container .text h1 {
    margin: 0;
    font-size: 5rem;
}

.landing .container .text p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5em;
}

@media (max-width: 767px) {
    .landing .container .ball {
        display: none;
    }

    .landing .container .text h1 {
        font-size: 40px;
    }

    .landing .container .text p {
        font-size: 18px;
    }

    .landing .container .text {
        margin-left: 25px;
    }
}

/* end landing  */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start human robotics section1 */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
.hum-section {
    position: relative;
    padding-bottom: 60px;
}

.hum-section .container .text {
    padding: 30px;
    margin-left: 20px;
}

.hum-section .container .text h5 {
    font-size: 20px;
}

.hum-section .container .text h3 {
    position: relative;
    width: fit-content;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--head-color);
}

.hum-section .container .text h3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: var(--main-color);
    bottom: 5px;
    z-index: -1;
}

.hum-section .container .text p {
    width: 50%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
}

.hum-section .container .text a {
    width: fit-content;
    display: block;
    margin-top: 20px;
    padding: 12px 35px;
    border: 2px solid var(--main-color);
    color: var(--head-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.hum-section .container .text a:hover {
    background-color: var(--main-color);
}

.hum-section .container .image img:first-of-type {
    height: 500px;
    position: absolute;
    right: 0;
    top: -12vh;
}

.hum-section .container .image img:last-of-type {
    position: absolute;
    height: 370px;
    position: absolute;
    border-radius: 50%;
    left: 45%;
    transform: translate(20px, -156px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(20px, -156px);
    -moz-transform: translate(20px, -156px);
    -ms-transform: translate(20px, -156px);
    -o-transform: translate(20px, -156px);
}

@media (max-width: 767px) {
    .hum-section .container .image img:first-of-type {
        height: 450px;
        position: absolute;
        right: 0;
        top: -12vh;
    }

    .hum-section .container .text {
        padding-top: 390px;
    }

    .hum-section .container .text p {
        width: 100%;
    }

    .hum-section .container .text a {
        padding: 18px;
        margin-bottom: 100px;
    }

    .hum-section .container .image img:last-of-type {
        height: 270px;
        transform: translate(-20px, -100px);
        -webkit-transform: translate(-20px, -100px);
        -moz-transform: translate(-20px, -100px);
        -ms-transform: translate(-20px, -100px);
        -o-transform: translate(-20px, -100px);
    }
}

@media (max-width: 450px) {
    .hum-section .container .text h3 {
        font-size: 27px;
    }

    .hum-section .container .text h5,
    .hum-section .container .text p {
        font-size: 18px;
    }

    .hum-section .container .image img:first-of-type {
        height: 400px;
    }

    .hum-section .container .image img:last-of-type {
        height: 230px;
        transform: translate(-100px, -90px);
        -webkit-transform: translate(-100px, -90px);
        -moz-transform: translate(-100px, -90px);
        -ms-transform: translate(-100px, -90px);
        -o-transform: translate(-100px, -90px);
    }
}

/* end human robotics section1 */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start human robotics section2 */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

.hum-section2 {
    width: 100%;
    min-height: 90vh;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/386402209ab35bf6ac892d8d/bggradient.jpg);
    background-size: cover;
}

.hum-section2 .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hum-section2 .container .images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
    position: relative;
    justify-content: space-between;
}

.hum-section2 .container .images .img {
    min-width: calc(calc(100% - 60px) / 4);
    background-color: rgb(107, 15, 15);
    height: 20vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hum-section2 .container .images .img1 {
    background-image: url(../images/section2-1.jpeg);
    background-size: cover;
    background-position-x: 50%;
    height: 50%;
    position: relative;
    top: 20px;
    align-self: center;
    z-index: 1;
}

.hum-section2 .container .images .img2 {
    background-image: url(../images/section2-2.jpeg);
    background-size: cover;
    background-position-x: 50%;
    height: 80%;
    align-self: center;
}

.hum-section2 .container .images .img3 {
    background-image: url(../images/section2-3.jpeg);
    background-size: cover;
    background-position-x: 50%;
    align-self: center;
    height: 30vh;
}

.hum-section2 .container .images .img4 {
    background-image: url(../images/section2-4.jpeg);
    background-size: cover;
    background-position-x: 50%;
    height: 60%;
    position: relative;
    bottom: 30px;
    align-self: center;
}

.hum-section2 .container p {
    width: 45%;
    position: absolute;
    right: 25px;
    color: #fff;
    bottom: 65px;
    line-height: 1.8rem;
    font-size: 19px;
    font-weight: 300;
}

.hum-section2 .bubble {
    width: 425px;
    position: absolute;
    top: -75px;
    left: -12%;
}

.hum-section2 .ball {
    width: 50px;
    position: absolute;
    top: 38px;
    right: 0%;
}

/* start media section2 */
@media (max-width: 991px) {
    .hum-section2 .bubble {
        left: -16%;
        width: 47%;
    }
}

@media (max-width: 997px) {
    .hum-section2 .container p {
        margin-top: 50px;
        bottom: 10%;
        left: 10%;
        font-size: 19px;
        width: 80%;
    }

    .hum-section2 .container .images .img1 {
        height: 24%;
    }

    .hum-section2 .container .images .img2 {
        height: 40%;
    }

    .hum-section2 .container .images .img3 {
        height: 30vh;
    }

    .hum-section2 .container .images .img4 {
        height: 30%;
    }
}

@media (max-width: 676px) {
    .hum-section2 .container p {
        bottom: 1%;
    }

    .hum-section2 .container .images {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 30px;
    }

    .hum-section2 .container .images .img {
        width: 250px;
        margin-bottom: 40px;
        height: 380px;
    }

    .hum-section2 .container .images .img1 {
        margin-top: 50px;
        height: 300px;
    }

    .hum-section2 .container .images .img3 {
        height: 300px;
    }

    .hum-section2 .container .images .img4 {
        margin-bottom: 150px;
    }

    .hum-section2 .bubble {
        width: 32%;
        top: -35px;
        left: 0;
    }
}

@media (max-width: 450px) {
    .hum-section2 .bubble {
        width: 30%;
        top: 50px;
        left: -6px;
    }
}

/* end media section2 */

/* end human robotics section2 */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start Robotic Technologies */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
.Robotic-Technologies .container {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.Robotic-Technologies .container .title h5 {
    font-size: 20px;
    font-weight: 400;
}

.Robotic-Technologies .container .title h2 {
    font-size: 70px;
    font-weight: 800;
    margin-top: 20px;
    letter-spacing: 1.5px;
    color: var(--head-color);
}

.Robotic-Technologies .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 30px 0;
}

.Robotic-Technologies .container .cards .card {
    padding: 50px;
    margin: 30px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.Robotic-Technologies .container .cards .card i {
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--main-color);
}

.Robotic-Technologies .container .cards .card h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--head-color);
}

.Robotic-Technologies .container .cards .card p {
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 300;
}

.Robotic-Technologies .container img {
    position: absolute;
    top: -15vh;
    width: 36%;
    right: -16%;
}

@media (max-width: 997px) {
    .Robotic-Technologies .container img {
        right: -16%;
        width: 50%;
    }
}

@media (max-width: 676px) {
    .Robotic-Technologies .container .cards {
        text-align: center;
        flex-direction: column;
    }

    .Robotic-Technologies .container .title {
        margin-top: 84px;
    }

    .Robotic-Technologies .container .title h2 {
        text-align: start;
        font-size: 38px;
    }

    .Robotic-Technologies .container img {
        top: -4%;
        right: 0%;
        width: 34%;
    }
}

/* end Robotic Technologies */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start Robotic Technologies 2*/
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
.Robotic-Technologies2 {
    background-image: url(../images/background2.jpeg);
    background-size: cover;
}

.Robotic-Technologies2 .container {
    position: relative;
}

.Robotic-Technologies2 .container .text {
    width: 70%;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Robotic-Technologies2 .container .text i {
    color: #fbe900;
    font-size: 200px;
}

.Robotic-Technologies2 .container .text p {
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
    line-height: 2.2rem;
    margin-bottom: 25px;
}

.Robotic-Technologies2 .container .text h3 {
    text-align: end;
    color: #fff;
    font-weight: bolder;
    font-size: 22px;
}

.Robotic-Technologies2 .container img {
    position: absolute;
    width: 45%;
    left: -20%;
    top: -8vh;
}

@media (max-width: 770px) {
    .Robotic-Technologies2 .container img {
        position: absolute;
        left: -6%;
    }
}

/* end Robotic Technologies 2*/
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start section of car concepts */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
.car {
    background-image: url(../images/car-background.jpeg);
    background-size: cover;
}

.car .container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 100px;
}

.car .container .images {
    position: relative;
}

.car .container .images img:first-child {
    width: 100%;
    position: relative;
    bottom: 15vh;
}

.car .container .images img:last-child {
    width: 60%;
    position: relative;
    bottom: 22vh;
    left: 33%;
}

.car .container .text {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.car .container .text h3 {
    position: relative;
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
    color: #fff;
    width: fit-content;
    z-index: 1;
}

.car .container .text h3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #5dc3c5;
    bottom: 1px;
    z-index: -1;
}

.car .container .text p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4em;
    color: #fff;
    padding: 30px 30px 30px 0;
    width: fit-content;
}

@media (max-width: 400px) {
    .car .container {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .car .container .image,
    .car .container .text {
        width: 70%;
    }

    .car .container .images img:first-child {
        width: 60%;
    }

    .car .container .images img:last-child {
        width: 40%;
        position: relative;
        bottom: 22vh;
        left: 25%;
    }
}

@media (max-width: 770px) {
    .car .container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .car .container .text h3 {
        font-size: 40px;
    }
}

@media (max-width: 1200px) {
    .car .container {
        gap: 0;
    }

    .car .container .text {
        margin-top: -10vh;
    }
}

/* end section of car concepts */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start tec-ai */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
.tec-ai {
    background-image: linear-gradient(white, #f8effa);
}

.tec-ai .container .title {
    margin: 50px 0;
}

.tec-ai .container .title h5 {
    font-size: 20px;
    font-weight: 300;
}

.tec-ai .container .title h2 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--head-color);
}

.tec-ai .container .section {
    position: relative;
}

.tec-ai .container .section .bubbles {
    position: absolute;
    width: 23%;
    right: -15%;
    top: -42vh;
}

.tec-ai .container .section .cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media (max-width: 420px) {
    .tec-ai .container .section .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media (max-width: 997px) {
    .tec-ai .container .section .cards {
        gap: 100px;
    }

    .tec-ai .container .section .bubbles {
        width: 45%;
        right: -19%;
        top: -34vh;
    }
}

.tec-ai .container .section .cards .card {
    padding: 20px;
}

.tec-ai .container .cards .card .images {
    position: relative;
    z-index: 1;
}

.tec-ai .container .cards .card .images img {
    width: 100%;
    position: relative;
    z-index: -1;
    /* bottom: 7vh; */
}

.tec-ai .container .cards .card .images::before {
    content: "";
    width: 60%;
    display: block;
    height: 60%;
    top: -20%;
    right: -4%;
    background-image: url(../images/tec-ai-2.png);
    background-size: cover;
    background-position: 50%;
    position: absolute;
    z-index: 2;
    box-shadow: -23px -26px 0px 2px var(--main-color);
}

.tec-ai .container .section .cards .card h3 {
    color: var(--head-color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.tec-ai .container .section .cards .card p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tec-ai .container .section .cards .card .img-text {
    margin-bottom: 80px;
}

/* end tec-ai */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* start tec-ai-2 */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

.tec-ai-2 {
    width: 100%;
    min-height: 70vh;
    background-image: url(../images/background-tec-ai-2.jpeg);
    background-size: cover;
}

.tec-ai-2 .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tec-ai-2 .container .comp {
    margin-top: -50px;
}

.tec-ai-2 .container .images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    position: relative;
    justify-content: space-between;
}

.tec-ai-2 .container .images .img {
    min-width: calc(calc(100% - 60px) / 4);
    background-color: rgb(107, 15, 15);
    height: 20vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tec-ai-2 .container .images .img1 {
    background-image: url(../images/tec-ai-2-1.jpeg);
    background-size: cover;
    height: 60%;
    position: relative;
    top: -4vh;
}

.tec-ai-2 .container .images .img2 {
    background-image: url(../images/tec-ai-2-2.jpeg);
    background-size: cover;
    background-position-x: center;
    height: 100%;
    position: relative;
    top: -8vh;
}

.tec-ai-2 .container .images .img3 {
    background-image: url(../images/tec-ai-2-3.jpeg);
    background-size: cover;
    background-position-x: center;
    height: 48vh;
    position: relative;
    top: -5vh;
}

.tec-ai-2 .container .images .img4 {
    background-image: url(../images/tec-ai-2-4.jpeg);
    background-size: cover;
    background-position-x: 20%;
    height: 60%;
    position: relative;
    top: -8vh;
}

.tec-ai-2 .container p {
    width: 50%;
    position: absolute;
    right: -10px;
    color: #fff;
    bottom: 10vh;
    line-height: 1.8rem;
    font-size: 20px;
    font-weight: 300;
}

/* start media section2 */
@media (max-width: 997px) {
    .tec-ai-2 .container p {
        bottom: 18vh;
        padding: 20px 20px 0 0;
    }

    .tec-ai-2 .container .images .img1 {
        height: 40%;
    }

    .tec-ai-2 .container .images .img2 {
        height: 85%;
    }

    .tec-ai-2 .container .images .img3 {
        height: 36vh;
    }

    .tec-ai-2 .container .images .img4 {
        height: 40%;
    }
}

@media (max-width: 676px) {
    .tec-ai-2 .container p {
        width: 90%;
    }

    .tec-ai-2 .container .images {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 10vh;
    }

    .tec-ai-2 .container .images .img {
        width: 60%;
        height: 50vh;
    }

    .tec-ai-2 .container .images .img1 {
        margin-top: 50px;
    }

    .tec-ai-2 .container .images .img2 {
        margin-top: 15vh;
    }

    .tec-ai-2 .container .images .img4 {
        margin-bottom: 24vh;
        margin-top: 15vh;
    }

    .tec-ai-2 .container p {
        bottom: 15vh;
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    .tec-ai-2 .container .images .img {
        height: 35vh;
    }
}

/* end tec-ai-2 */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* start footer */
footer {
    background-color: #ff4892;
    color: #fff;
    padding: 20px;
}

footer .container {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container .social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

footer .container .social ul a {
    font-size: 40px;
    margin: 0 20px;
    color: #fff;
}

footer ul li:first-child a:hover {
    color: #4267b2;
}

footer ul li:nth-child(2) a:hover {
    color: #00acee;
}

footer ul li:last-child a:hover {
    color: #4c68d7;
}

footer .container p {
    width: 100%;
    line-height: 1.6em;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

footer .container p span:first-of-type {
    font-size: 18px;
    font-weight: 800;
    color: var(--main-color);
}

footer .container p span:last-of-type {
    font-weight: 800;
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* end footer */
